devdiary.css
 html{
        margin:0;
        padding: 0;
        height:100%;
    }
    body {
        font-family: Arial;
        margin: 0;
        padding: 0;
        background-color: #2F3136;
        color: #ddd;
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100vh;                 /*  changed  */
        margin: 0 auto;
        padding-left:20px;
        padding-right: 20px;
        overflow: hidden;
        overflow-y: scroll; /* Allow vertical scrolling */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }

    a:link {
    color: #3FA663;
    background-color: transparent;
    text-decoration: none;
    }

    a:visited {
    color: #3FA663;
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
    color: #3FA663;
    background-color: transparent;
    text-decoration: underline;
    }

    a:active {
    color: #3FA663;
    background-color: transparent;
    text-decoration: underline;
    }
    .info-text-box {
        width: 700px;                /* Adjust width as needed */
        padding: 20px;               /* Space inside the box */
        /*margin: 0 auto; */              /* Center the box horizontally */
        text-align: center;          /* Center-align the text */
        border-radius: 10px;          /* Rounded corners */
        background-color: #393C43;   /* Background color */
       /* margin-left: 40px; */
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .season-card {
        background-color: #393C43;
        padding: 15px;
        border-radius: 10px;
        width: 400px;
        text-align: left;
        margin-right: 10px;
      }
      .card-container {
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
      }
    .container::-webkit-scrollbar {
        display: none;
    }
